.card {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 0px;
  padding: 20px;
  padding-left: 28px;
  padding-right: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.cardButton {
  margin-left: 82%;
  background: $white;
  bottom: 26px;
}

.text {
  top: 16px;
  display: block;
  position: relative;
  left: 32px;
  margin-bottom: 4px;

  &--description {
    font-size: 15px;
    opacity: 0.4;
  }
}

.iconContainer {
  display: inline;
  background: #ffd7d7;
  padding-top: 10px;
  margin-top: 14px;
  float: left;
  width: 52px;
  height: 52px;
  border-radius: 2em;

  &--blue {
    background: #aebaf9;
  }
}

@media (max-width: 720px) {
  .card {
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 0px;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 80px;
  }

  .cardButton {
    float: left;
    float: right;
    bottom: 38px;
  }

  .text {
    top: 30px;
    display: inline;
    left: 12px;
    font-size: 16px;

    &--description {
      display: none;
    }
  }

  .iconContainer {
    display: inline;
    background: #ffd7d7;
    padding-top: 10px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 2em;

    &--blue {
      background: #aebaf9;
    }
  }
}
