.container,
.container div {
  height: 100%;
}

.container .button--ghost {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
}

.modal .modal__content {
  padding: 0;
}

.modal .card-alternative {
  border-radius: 0;
  margin-bottom: 20px;
}
