.card-question {
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

  &--expanded {
    max-height: 650px;
  }

  .flexQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--question {
      font-weight: bold;
      margin-right: 0.4rem;
    }

    &--area {
      font-size: 0.8rem;
    }

    &--time {
      margin: 0 0.3rem;
      font-size: 0.9rem;
    }
  }

  .hide {
    display: none;
  }
}
