.approval-percent {
  color: rgba(169, 169, 169, 1);
  padding: 0;
  position: absolute;
  left: 82%;
}

.edition-card {
  margin-bottom: 10px;
  padding: 20px;
}

.search-edition {
  margin-bottom: 10px;
}

.year {
  font-weight: 400;
  color: rgba(169, 169, 169, 1);
}

.back-button {
  color: black;
  margin-bottom: 3%;
}
