
@import "../../stylesheets/main";

.HeaderContainer {
  background-color: $background-color;
  height: 52px; 
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 14px;
}

.IconContainer {
  cursor: pointer;
  border: none;
  background: inherit;
  height: '100%';
  -webkit-tap-highlight-color:  $background-color;
}