.HeaderContainer {
  background-color: #faf7fb;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 14px;
}

.IconContainer {
  cursor: pointer;
  border: none;
  background: inherit;
  height: '100%';
  -webkit-tap-highlight-color: #faf7fb;
}
