$primary: #439af1;
$light-gray: #eee;
$gray: #aaa;
$dark-gray: #8a8e8f;
$text: #2e2f30;
$body-background: #fafbfc;
$white: #ffffff;

$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
  Arial, sans-serif;

$border-radius: 8px;
