.login__maincontainer {
  margin-top: 10%;
}

.login__inputcontainer {
  margin-top: 10px;
  width: 18%;
}

.login__input {
  margin-bottom: 20px;
}

.login__button {
  margin-top: 10px;
  margin-bottom: 16px;
}

.login__logoimage {
  height: 34px;
  width: 100;
}

.login__lineleft {
  flex: 1;
  background: #d1d0cd;
  height: 1px;
  width: 1px;
  margin-right: 4px;
}

.login__lineright {
  flex: 1;
  background: #d1d0cd;
  height: 1px;
  width: 1px;
  margin-left: 4px;
}

.login__or {
  color: #d1d0cd;
}

.login__link {
  margin-top: 20px;
  color: #757470;
  font-size: 14px;
}

@media (max-width: 1440px) {
  .login__maincontainer {
    margin-top: 20%;
  }

  .login__inputcontainer {
    width: 28%;
  }
}

@media (max-width: 720px) {
  .login__maincontainer {
    margin-top: 20%;
  }

  .login__inputcontainer {
    width: 60%;
  }
}
